$grey: #333333;
$blackBase: #434343;
$black90: #2B2D42;
$baseBlack: #434343;
$yellow: #FFB119;
$yellowHover: #F7A400;
$white: #FFFFFF;
$middlegrey: #B7B7B7;
$darkgrey: #949494;
$greyDisabled: #C8C8C8;

$barlow-family: 'Barlow', sans-serif;
$roboto-family: 'Roboto', sans-serif;

$greyTable: #F0F0F0;
$redDanger: #E41414;
$greenSuccess: #01A32E;
